[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bash/.bash/liquidprompt"]
	path = bash/.bash/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/distinguished"]
	path = vim/.vim/bundle/distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "vim-distinguished"]
	path = vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished
